[submodule "soliddatasaver"]
	path = solidDataSaver
	url = https://github.ugent.be/fpsander/soliddatasaver.git
[submodule "leshan-server-solid"]
	path = leshan-server-solid
	url = https://github.ugent.be/tpaelman/Leshan-server-Solid.git
[submodule "solidDataVisualizer"]
	path = solidDataVisualizer
	url = https://github.ugent.be/fpsander/Solid-IoT.git
[submodule "leshan"]
	path = leshan
	url = https://github.com/eclipse/leshan.git
