[submodule "soliddatasaver"]
	path = solidDataSaver
	url = https://github.com/th1j5/Solid-data-saver.git
[submodule "leshan-server-solid"]
	path = leshan-server-solid
	url = https://github.com/th1j5/leshan-server-solid.git
[submodule "solidDataVisualizer"]
	path = solidDataVisualizer
	url = https://github.com/th1j5/Solid-data-querier.git
[submodule "leshan"]
	path = leshan
	url = https://github.com/eclipse/leshan.git
